mat-card-title-group {
  flex: 1 1 auto;
}

mat-card-title {
  font-weight: bold;
}

mat-card-actions {
  display: inline;
}

.info {
  float: left;
  width: 80%;
}

.action {
  float: right;
  width: 5em;
}

mat-card:after {
  content: "";
  display: table;
  clear: both;
}

.starred::after {
  content: "  \2605";
  color: black;
  font-weight: bolder;
}

.top-rated {
  background-color: lightgrey;
}
