mat-card {
  display: flex;
}

.course-info {
  flex: 1 1 auto;
}

mat-card-title-group {
  flex: 1 1 auto;
}

mat-card-title {
  font-weight: bold;
}

mat-card-subtitle {
  width: 90px;
  text-align: center;
}

mat-card-actions {
  display: flex;
  flex-flow: column;
  width: 110px;
  padding: 0;
}

.starred::after {
  content: "  \2605";
  color: black;
  font-weight: bolder;
}

.top-rated {
  background-color: lightgrey;
}
