<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{course.name}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-subtitle>{{course.durationInSeconds*1000 | date: 'H:mm:ss': 'UTC'}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-title-group>
      <mat-card-subtitle>{{course.date | date : mediumDate}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div>{{course.description}}</div>
    <mat-card-actions align="end">
      <button mat-button>Edit course</button>
      <button mat-button (click)="delete();">Delete</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
