.app-root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

app-header {
  flex: initial;
}

.app-content {
  flex: auto;
  overflow-y: auto;
  padding: 16px;
}

app-footer {
  flex: initial;
}
