<mat-card>
  <form [formGroup]="editForm" novalidate (ngSubmit)="saveCourse();">
    <div class="container">
      <div class="titles">
        <div class="row title">Title</div>
        <div class="row title">Description</div>
        <div class="row title">Date</div>
        <div class="row title">Duration</div>
        <div class="row title">Authors</div>
      </div>

      <div class="inputs">
        <mat-form-field class="row value">
          <input matInput type="text" formControlName="title">
          <mat-error *ngIf="title.invalid && title.dirty">{{getErrorMessage(title)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="row value">
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="description.invalid && description.dirty">{{getErrorMessage(description)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="row value">
          <input matInput formControlName="date">
          <mat-error *ngIf="date.invalid && date.dirty">{{getErrorMessage(date)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="row value">
          <div class="duration">
            <input matInput formControlName="duration">
            <div class="duration-value">{{ durationInMin?.value | duration }}</div>
          </div>
          <mat-error *ngIf="durationInMin.invalid && durationInMin.dirty">{{getErrorMessage(durationInMin)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="row value">
          <input matInput formControlName="authors">
          <mat-error *ngIf="authors.invalid && authors.dirty">{{getErrorMessage(authors)}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-card-actions align="center">
      <button mat-button type="submit" [disabled]="editForm.invalid">Save</button>
      <button mat-button type="button" (click)="discard();">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
