courses-toolbar {
  display: block;
  width: 100%;
  margin: 1em 1em 0 1em;
}

course-card {
  margin: 1em;
}

.empty {
  margin: 20px 0px;
  text-align: center;
  background-color: lightgray;
  border: 1px solid black;
}
