<div *ngIf="!hasEditRequest()">
  <courses-toolbar (find)="findCourses($event.name)" (add)="editCourse()"></courses-toolbar>
  <div *ngIf="courses | async; let courses">
    <course-card *ngFor="let course of courses | orderByDate; trackBy: trackById;" [course]="course"
                 (delete)="deleteCourse($event)" (edit)="editCourse($event.id)"></course-card>
    <div class="empty" *ngIf="courses.length === 0">No course available. Feel free to add the course.</div>
  </div>
</div>
<div *ngIf="hasEditRequest()">
  <course-edit [course]="getEditCourse() | async"
               (cancel)="cancelEdit()" (save)="saveCourse($event.course)"></course-edit>
</div>
